.player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  max-width: 100%;
  width: 100%;

  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.playerPic {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.playerInfoWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0.5rem;
}
