/* src/styles/StatusWrapper.module.css */
.statusWrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  z-index: 100;
}

.statusCircle {
  height: 0.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.connected {
  background-color: green;
  box-shadow: var(--glow-success);
}

.disconnected {
  background-color: red;
  box-shadow: var(--glow-danger);
}
