.toast-container {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 9999;
  pointer-events: none; /* Klicks gehen durch */
}

/* Allgemeiner Toast */
.toast {
  pointer-events: auto;
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  min-width: 100px;

  text-align: center;
  color: var(--text);
  backdrop-filter: blur(4px);
}

/* Toast Typen */
.toast.success {
  background-color: var(--success);
  outline: 1px solid var(--success-border);
  box-shadow: 0px 0px 10px 1px var(--success-border);
}

.toast.error {
  background-color: var(--danger);
  box-shadow: 0px 0px 10px 1px var(--danger);
}

.toast.info {
  background-color: var(--info);
  box-shadow: 0px 0px 10px 1px var(--info);
}

.toast.warning {
  background-color: var(--warning);
  box-shadow: 0px 0px 10px 1px var(--warning);
}
