@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-dark: hsl(336 0% 1%);
  --bg: hsl(300 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(300 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --highlight: hsl(330 0% 39%);
  --border: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --primary: hsl(48, 100%, 51%);
  --secondary: hsl(183 52% 57%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  background-color: var(--bg-dark);
  height: 100dvh;
  width: 100dvw;

  background-color: var(--bg-dark);

  /* 1px Raster */
  background-image: linear-gradient(var(--bg) 1px, transparent 1px),
    linear-gradient(90deg, var(--bg) 1px, transparent 1px);

  /* Abstand der Linien (Rastergröße, z. B. 20px) */
  background-size: 20px 20px;
}

body {
  height: 100%;
  width: 100%;

  margin: 0;
}

* {
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.statusWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.statusWrapper .statusCircle {
  height: 10px;
  aspect-ratio: 1/1;

  border-radius: 100%;
}

.statusWrapper .statusCircle.connected {
  background-color: green;
  box-shadow: 0px 0px 10px 1px green;
}

.statusWrapper .statusCircle.disconnected {
  background-color: red;
  box-shadow: 0px 0px 10px 1px red;
}

.selectMenuWrapper {
  background-color: var(--bg);
  border-radius: 0.5rem;
  padding: 2rem;

  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 10px 1px var(--bg);
}

.smCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;

  cursor: pointer;

  transition: 0.1s ease-in-out 0s;
}

.smCon p {
  color: var(--highlight);
}

.smCon:hover {
  /* background-color: var(--border-muted); */
  box-shadow: 0px 0px 10px 2px var(--primary);
  outline: 1px solid var(--primary);
}
